.br
.page-header
  .h1=@student.last_name
  .h1=@student.first_name
  .h1=@student.second_name
-#%p
-#  %b
-#  -if @student.image?
-#    =link_to @student.image.url do
-#      = image_tag @student.image.url(:medium), alt: @student.last_name
-#  -else
-#    .li.text-danger
-#      Изображение не загружено!

%p
  %b Дата рождения:
  = @student.b_date

%p
  %b Номер паспорта:
  = @student.passport_id

%p
  %b Серия паспорта:
  = @student.passport_series

%p
  %b Учебная группа:
  = link_to @student.groups

%p
  %b Сообщества:



= link_to edit_student_path(@student), class: "btn btn-warning" do
  =fa_icon "pencil"
  Редактировать
\|
= link_to students_path, class: "btn btn-primary" do
  =fa_icon "reply"
  Вернуться к списку студентов
