%h1 Список групп

%table.table.table-responsive
  %thead
    %tr
      %th Название
      %th Курс
      %th Семестр

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.title
        %td= group.course
        %td= group.semester
        %td= link_to 'Показать', group
        %td= link_to 'Редактировать', edit_group_path(group)
        %td= link_to 'Удалить', group, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Новая группа', new_group_path, "data-toggle" => "tooltip", :title => "Создать новую учебную группу"
