= form_for @messager do |f|
  - if @messager.errors.any?
    #error_explanation
      %h2= "#{pluralize(@messager.errors.count, "error")} prohibited this messager from being saved:"
      %ul
        - @messager.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
